PORT=3000

# Cohere Configuration
COHERE_API_KEY=
COHERE_MODEL=command-a-03-2025

# Gemini Configuration
GEMINI_API_KEY=
GEMINI_MODEL=gemini-1.5-flash

# Mapbox Configuration
MAPBOX_ACCESS_TOKEN=sk...

# Database Path
DB_PATH=./db/chats
MAX_MEMORY=20
