PORT=3000

# Cohere Configuration
COHERE_API_KEY=
COHERE_MODEL=command-a-03-2025

# Gemini Configuration
GEMINI_API_KEY=
GEMINI_MODEL=gemini-1.5-flash

# Mapbox Configuration
MAPBOX_ACCESS_TOKEN=sk...

# External APIs (Admin Sistema)
ADMIN_API_BASE_URL=http://127.0.0.1:8001/api
ADMIN_API_TOKEN=

# WhatsApp API Base (Local Service)
WHATSAPP_API_BASE_URL=http://127.0.0.1:3001/api/v1

# Database Path
DB_PATH=./db/chats
MAX_MEMORY=20
